/* @import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --green: #12492f;
    --cream: #ffca7a;
    --yellow: #f0932b;
    --brown: #ab4327;
    --white: #ffffff;
    --aliceblue: aliceblue;
    --black: black;
}

 body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Arima', cursive; */
 }
 
 footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;   
    background-color: var(--orange) !important;
    padding-bottom: 0;
}

footer p{
    padding: none;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 25px;
    padding: 0;
}

footer ul .text {
    font-size: 20px;
    color: white;
}

footer ul li {
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
}

 /* footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    background-color: brown;
} */
/*
footer ul {
    display: flex;
    justify-content: center; // justify-content: centre

}

footer ul li {
    border: none;
    list-style-type: none;
} */