/* @import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --blue: #124559;
    --white: #ffffff;
    --black: black;
    --metal: #473E46;
    --silver: #b4b4b4;
}

body {
    font-family: 'Poppins', sans-serif;
}

.footerBox {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--blue);
    color: white;
    text-align: center;
    z-index: 20;
}

hr .line {
    width:25%;
    margin: auto;
}

footer .adresse p {
    line-height: 0.3px;
    font-size: smaller;
}
  /* .footerBox {
    background-color: var(--apple);
    margin: 10px 0 -200px -10px;
    width: 1185px;
    z-index: 1000;
    position: relative;
} */

/* footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    background-color: brown;
} */
/*
footer ul {
    display: flex;
    justify-content: center; // justify-content: centre

}

footer ul li {
    border: none;
    list-style-type: none;
} */