/* @import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --green: #12492f;
    --sauvage: #689d71;
    --apple: #008000;
    --cream: #ffca7a;
    --yellow: #DCD7C9;
    --brown: #CA955C;
    --white: #ffffff;
    --aliceblue: aliceblue;
    --black: black;
    --metal: #473E46;
    --mbrown: #464E2E;
    --silver: #b4b4b4;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Arima', cursive; */
}

.footerBox {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--metal);
    color: white;
    text-align: center;
    z-index: 20;
}

hr .line {
    width:25%;
    margin: auto;
}
  /* .footerBox {
    background-color: var(--apple);
    margin: 10px 0 -200px -10px;
    width: 1185px;
    z-index: 1000;
    position: relative;
} */

/* footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    background-color: brown;
} */
/*
footer ul {
    display: flex;
    justify-content: center; // justify-content: centre

}

footer ul li {
    border: none;
    list-style-type: none;
} */