body {
    /* background-image: url(https://cdn.shopify.com/s/files/1/0070/7032/files/trending-products_c8d0d15c-9afc-47e3-9ba2-f7bad0505b9b.png?format=webp&v=1614559651&width=1024); */
    background-image: url(../imgs/covers/connect.JPG);
    background-size: cover;
    height: 100%;
}
.container {
    margin-top: 10px;
    margin-bottom: 50px;
}

.show-box {
    color: rgb(44, 13, 131);
}