/* @import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --green: #12492f;
  --sauvage: #689d71;
  --apple: #008000;
  --cream: #ffca7a;
  --yellow: #f0932b;
  --brown: #b36700;
  --white: #ffffff;
  --aliceblue: aliceblue;
  --black: black;
  --metal: #473E46;
  --mbrown: #6A3805;
  --silver: #b4b4b4;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300; 

  /* Definir la taille de la page */
  min-height: 80vh;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  
}

/* Background de la navbar */
body .bg {
  background: var(--apple);
}

.logo {
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--aliceblue) !important;
  font-size: 2rem;
}

.text {
  color: white;
}

.text:hover {
  color: var(--black);
}

/* .gradient {
  background: linear-gradient(to right, var(--black), var(--brown) 0%, var(--yellow) 33%, var(--cream) 66%, var(--sauvage) 100%);
  height: 6px;
  animation: rgbAnimation 18s infinite;
}
@keyframes rgbAnimation {
  0% {
      filter: hue-rotate(0deg);
  }
  33% {
      filter: hue-rotate(33deg);
  }
  66% {
      filter: hue-rotate(66deg);
  }
  100% {
      filter: hue-rotate(0deg);
  }
} */