@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600&family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
  font-family: 'Edu VIC WA NT Beginner', cursive;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.container {
    padding-left: 400px;
    height: 500px;
    padding-top: 10px;
    border-color: transparent; 
}

.formulaire {    
    width: 600px;
    padding: 20px;
    /* /* transform: translate(-50%, -50%); */
    background: rgba(162, 171, 197, 0.5);
    /* box-sizing: border-box; */
    /* box-shadow: 0 10px 15px rgba(31, 30, 30, 0.6); */
    border-radius: 5px;
    margin: 0 0 30px;
  }
  
  .formulaire .registration {
    margin: 0 0 30px;
    padding: 0;
    color: #124559;
    text-align: center;
  }

  .container h3 {
    /* margin: 0 0 30px; */
    padding: 0;
    color: #124559;
    text-align: center;
  }