{% extends "base.html.twig" %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/404.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<body>

		<div
			class="container w-50 py-4 align-items-center justify-content-between">

			{# <h1 class="d-flex align-items-center justify-content-between">
						Page introuvable !
					</h1> #}
			<a href='{{ path('app_home') }}' class="btn btn-outline-warning">Retour à l'accueil</a>
			<h1>Erreur interne au serveur !</p>

			<p class="text1">ERROR500</p>
			<p class="text2">ERROR500</p>
			<p class="text3">ERROR500</p>
			<p class="text4">ERROR500</p>
			<p class="text5">ERROR500</p>
			<p class="text6">ERROR500</p>
			<p class="text7">ERROR500</p>
			<p class="text8">ERROR500</p>
			<p class="text9">ERROR500</p>
			<p class="text10">ERROR500</p>
			<p class="text11">☟☜☹🏱</p>
			<div class="box">
				<div class="gaster">
					<div class="ghead">
						<div class="eyL">
							<div class="clean"></div>
							<div class="it1"></div>
						</div>
						<div class="eyR">
							<div class="it1"></div>
						</div>
						<div class="mouth">
							<div class="it1"></div>
							<div class="it2"></div>
						</div>
						<div class="scar1">
							<div class="it1"></div>
						</div>
						<div class="scar2">
							<div class="it1"></div>
							<div class="it2"></div>
							<div class="it3"></div>
							<div class="it4"></div>
						</div>
					</div>
					<div class="armL">
						<div class="hole"></div>
						<div class="fing1"></div>
						<div class="fing2"></div>
						<div class="fing3"></div>
						<div class="fing4"></div>
						<div class="fing5"></div>
					</div>
				</div>
			</div>
		</div>
	</body>


{% endblock %}
