
{% extends 'base.html.twig' %}

{% block title %}Nouvelle Article
{% endblock %}

{% block body %}
<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper d-flex align-items-center justify-content-between pb-5">
		<div>
			<h6 class="display-5 m-0">Nouvelle article</h6>
		</div>
		<a href="{{ path('app_article') }}" title="Nouvelle article" class="btn btn-outline-secondary">
			Retour à la liste
		</a>
	</div>
	<div class="w-50 mx-auto">
		{{ form(form) }}
		</div>
	</div>


{% endblock %}